.nav-bar {
  width: 400px;
  height: 300px;
  border: 1px solid burlywood;
  background-color: blanchedalmond;
  border-radius: 10%;
  padding: 10px;
}
.header {
  padding-left: 20px;
}

.centerslot {
  padding-top: 20px;
  padding-left: 20px;
}
.button {
  padding-top: 20px;
  padding-left: 20px;
}
