.gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.item {
  width: 30%;
  text-align: center;
}

.item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.title {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
.mainitem {
  display: flex;
}
.radius {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}
.mainitem {
  padding-left: 60px;
}
